body {
  background-image: url(./images/close-up-credit-card-machine_44622-148.jpg);
  background-repeat: no-repeat;
  background-size: 1300px 1400px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-image: url(./images/images.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-bottom: 20px;
  color: #000;
}

input,
button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}

button {
  background-color: #fc0;
  color: #000;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fc0;
}

#cash-in-drawer,
#change-due {
  color: #000;
}

@media (max-width: 768px) {
  .container {
  padding: 10px;
  }

}

@media (max-width: 480px) {
  .container {
  padding: 5px;
  }

  input,
  button {
  padding: 5px;
  }

}
